<div class="content">
    <div class="flexbox-mainLogo">
        <app-neon-sign></app-neon-sign>
    </div>
    <div class="flexbox-content">
        <div class="flexbox-sensors">
            <p>
                <app-secret-sensors></app-secret-sensors>
            </p>
        </div>
        <div class="flexbox-item-beerButton">
            <app-crossbones></app-crossbones>
        </div>
    </div>
</div>

<script>
    window.setInterval('refresh()', 60000);
    function refresh() {
        window.location.reload();
    }
</script>